:root {
    --primary-color: #191918;
    --secondary-cta-bg-color: #2383e2;
    --tertiary-cta-bg-color: #fff;
    --card-bg: #f6f5f4;
    --primary-text-color: #191918;
    --secondary-text-color: #31302e;
    --tertiary-text-color: #615d59;
    --blue-text: #097fe8;
}
